.chart rect {
    stroke: white;
    fill: blue;
}
.chart .chart-line {
    fill: none;
    stroke-width: 2px;
}
.chart .man-days-graph .chart-line {
    stroke: black;
}
.chart .man-days-graph .point {
    fill: black
}
.chart .planned-graph .chart-line {
    stroke: grey;
}
.chart .planned-graph .point {
    fill: grey
}
.chart .story-points-graph .chart-line {
    stroke: blue;
}
.chart .story-points-graph .point {
    fill: blue
}
.chart .business-value-graph .chart-line {
    stroke: red;
}
.chart .business-value-graph .point {
    fill: red
}
.chart .bar-text {
    fill: white;
}
.chart .axis path,
.chart .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.chart .axis text {
    font-size: 11px;
}
.chart .axis.story-points text {
    fill: blue;
}
.chart .axis.business-value text {
    fill: red;
}
.chart text {
    font-family: sans-serif;
}
#graph-interactive-data {
    z-index: 10;
}
#top {
    overflow: hidden;
    margin-bottom: 20px;
}
#graph-results .man-days .chart path.slice-0 {
    fill: #333;
}
#graph-results .story-points .chart path.slice-0 {
    fill: blue;
}
#graph-results .business-value .chart path.slice-0 {
    fill: red;
}
#graph-results {
    margin-left: 30px;
    margin-top: 10px;
}
#graph-results > div {
    float: left;
    margin-left: 50px;
    text-align: center;
    font-size: 20px;
}
#graph-results > div:first-child {
    margin-left: 0px;
}
#graph-results .man-days .chart path.slice-1,
#graph-results .story-points .chart path.slice-1,
#graph-results .business-value .chart path.slice-1 {
    fill: #f1f1f1;
}

/* Result per story */
.chart rect.hours_burnt {
    fill: orange;
}
.chart rect.hours_planned {
    fill: lightgrey;
}
.chart text.label {
    fill: #333;
    font-weight: bold;
}
